<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/Profile.png"
                alt=""
                width="156px"
                height="142px"
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a href="" class="link_href">
                <div class="icon">
                  <img
                    src="images/icon/Icons-facebook.svg"
                    alt=""
                    class="icon-1"
                  />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img
                    src="images/icon/Icons-instagram.svg"
                    alt=""
                    class="icon-1"
                  />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img
                    src="images/icon/Icons-twitter.png"
                    alt=""
                    class="icon-1"
                  />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img
                    src="images/icon/Icons-linkedin.svg"
                    alt=""
                    class="icon-1"
                  />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img
                    src="images/icon/Icons-Youtube.svg"
                    alt=""
                    class="icon-1"
                  />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img
                    src="images/icon/Icons-dribbble.svg"
                    alt=""
                    class="icon-1"
                  />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left2-1">
              <div class="left2_1_1">
                <p>Age:</p>
              </div>
              <div class="left2_1_2">
                <p>25</p>
              </div>
            </div>
            <div class="left2-2">
              <div class="left2_2_1">
                <p>Residence:</p>
              </div>
              <div class="left2_2_2">
                <p>BD</p>
              </div>
            </div>
            <div class="left2-3">
              <div class="left2_3_1">
                <p>Freelance:</p>
              </div>
              <div class="left2_3_2">
                <p>Available</p>
              </div>
            </div>
            <div class="left2-4">
              <div class="left2_4_1">
                <p>Address:</p>
              </div>
              <div class="left2_4_2">
                <p>Daegu,South Korea</p>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <!-- Language -->
            <div class="left3-1">
              <p>Languages</p>
            </div>
            
            <div class="left3-2">
              <div class="left3_2_1">
                <p>Uzbek</p>
              </user.languages></div>
              <div class="left3_2_2">
                <p>100%</p>
              </div>
             
            </div>
            <div class="left3-3">
              <div class="left3_3_1"></div>
            </div>
            <div class="left3-2">
              <div class="left3_2_1">
                <p>Korean</p>
              </user.languages></div>
              <div class="left3_2_2">
                <p>80%</p>
              </div>
             
            </div>
            <div class="left3-3">
              <div class="left3_3_2"></div>
            </div>
            <div class="left3-2">
              <div class="left3_2_1">
                <p>English</p>
              </user.languages></div>
              <div class="left3_2_2">
                <p>70%</p>
              </div>
             
            </div>
            <div class="left3-3">
              <div class="left3_3_3"></div>
            </div>
            <!-- Language end -->
            
          </div>
          <div class="marginer"></div>
          <!-- Skills -->
          <div class="left_4">
            <div class="left4-1">
              <p>Skills</p>
            </div>
            <div class="left4-2">
              <div class="left4_2_1">
                <p>HTML</p>
              </user.languages></div>
              <div class="left4_2_2">
                <p>90%</p>
              </div>
            
            </div>
            <div class="left4-3">
              <div class="left4_3_1"></div>
            </div>
            <div class="left4-2">
              <div class="left4_2_1">
                <p>Css</p>
              </user.languages></div>
              <div class="left4_2_2">
                <p>85%</p>
              </div>
            
            </div>
            <div class="left4-3">
              <div class="left4_3_2"></div>
            </div>
            <div class="left4-2">
              <div class="left4_2_1">
                <p>JS</p>
              </user.languages></div>
              <div class="left4_2_2">
                <p>80%</p>
              </div>
            
            </div>
            <div class="left4-3">
              <div class="left4_3_3"></div>
            </div>
            <div class="left4-2">
              <div class="left4_2_1">
                <p>NodeJS</p>
              </user.languages></div>
              <div class="left4_2_2">
                <p>75%</p>
              </div>
            
            </div>
            <div class="left4-3">
              <div class="left4_3_4"></div>
            </div>
            <div class="left4-2">
              <div class="left4_2_1">
                <p>Python</p>
              </user.languages></div>
              <div class="left4_2_2">
                <p>85%</p>
              </div>
            
            </div>
            <div class="left4-3">
              <div class="left4_3_5"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div class="left5-1">
              <p>Extra Skills</p>
            </div>
            <div class="left5-2">
              <div class="left5_2_1">
                <img src="images/icon/Icons.svg" alt="">
              </div>
              <div class="left5_2_2"><%=user.extra_skills[0]%></div>
            </div>
            <div class="left5-2">
              <div class="left5_2_1">
                <img src="images/icon/Icons.svg" alt="">
              </div>
              <div class="left5_2_2"><%=user.extra_skills[1]%></div>
            </div>
            <div class="left5-2">
              <div class="left5_2_1">
                <img src="images/icon/Icons.svg" alt="">
              </div>
              <div class="left5_2_2"><%=user.extra_skills[2]%></div>
            </div>
            <div class="left5-2">
              <div class="left5_2_1">
                <img src="images/icon/Icons.svg" alt="">
              </div>
              <div class="left5_2_2"><%=user.extra_skills[3]%></div>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="mid_frame">
          <div class="mid_box">
            <div class="">
              <img src="images/Ellipse 15.svg" alt="" class="icon_box" style="left: 40px; top: 60px;">
              <img src="images/Ellipse 12.svg" alt="" class="icon_box" style="left: 84px; bottom: 19px;">
              <img src="images/Ellipse 12.svg" alt="" class="icon_box" style="top: 59px; right: 439px;">
              <img src="images/Rectangle 52.svg" alt="" class="icon_box" style="left: 370px; bottom: 102px;">
              <img src="images/Ellipse 15.svg" alt="" class="icon_box" style="right: 400px; bottom: 60px;">
              <img src="images/Rectangle 51.svg" alt="" class="icon_box" style="top: 76px; right: 57px;">
              <img src="images/Polygon 1.svg" alt="" class="icon_box" style="bottom: 14px; right: 37px;">
            </div>
            <div class="text">
              <h1>Doctor neurologists
                in OHSU Hospital </h1>
                <div class="lorem">
                  <p><%=user.about_me%></p>
                </div>
                <!-- <a href=""> -->
                 <div class="hire_me">
                 <a href="">
                  <button>Hire Me</button>
                  
                  <!-- <div class="hire">
                    <img src="images/Frame.svg" alt="">
                  </div> -->
                </a>
                 </div>
                <!-- </a> -->
                
            </div>
            <div class="profile">
              <img src="images/Your Image 1.png" alt="" style="top: 16.46px; right: 61.65px;">
            </div>
          </div>
          <div class="my_services">
            <div class="mid-1">
              <h1>My Servises</h1>
            </div>
            <div class="mid-2"><%=user.service_desc%></div>
            <div class="service">
              <div class="service-1">
                <a href="" class="service_1_1">
                  <img src="images/boc_images/Icons_coding.svg" alt="" class="service_2_1">
                </a>
                <p class="service_1_2">Web Development</p>
                <p class="service_1_3">blog,E-Commerse</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame"></div>
      </div>
    </div>
  </body>
</html>
